.test {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;
  transform: translateY(-40px);
  text-align: center;

  color: #ebe4e3;
  font-weight: 700;
  text-decoration: underline;
  height: 8px;
  background-color: rgb(44, 43, 43);

  overflow: hidden;

  transform: translateX(-620px);
  transition: all 0.3s ease;

  flex-wrap: wrap;
  overflow-x: hidden;
  flex-shrink: 1;

  text-align: center;
}

input {
  outline: none;

  text-transform: uppercase;
}

/* .test2: :nth-child(2) */
